.home {
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../../images/homeImage.jpeg");
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1{
    font-size: 30px;
    color: #ffffff;
    margin: 10px 50px 10px;
    text-align: center;
}
/* .home a{
    margin: 10px;
    color:#dddbdb;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(81, 81, 81, 0.5);
} */

.button-50 {
  appearance: button;
  background-color: #fcf5ed;
  background-image: none;
  border: 1px solid #fcf5ed;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#fcf5ed 4px 4px 0 1px;
  box-sizing: border-box;
  color: #85654d;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #fcf5ed 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}