.home {
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../../Images/Home.jpeg");
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1{
    font-size: 40px;
    color: #897147;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    margin: 0 50px 0;
}

.home p{
    margin: 10px 100px 40px;
    color: #5d402a;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.home a{
    margin: 10px;
    color:#fff;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(139, 139, 139, 0.5);
}