.home {
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../../images/homeImage.jpeg");
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1{
    font-size: 30px;
    color: #ffffff;
    margin: 0 50px 0;
    text-align: center;
}
.home a{
    margin: 10px;
    color:#dddbdb;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(81, 81, 81, 0.5);
}